@import "variables";

@mixin body() {
  font-weight: $fw-medium;
  font-size: $fs-body;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

@mixin heading-xs() {
  font-weight: $fw-bold;
  font-size: $fs-heading-xs;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin heading-s() {
  font-weight: $fw-bold;
  font-size: $fs-heading-s;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

@mixin heading-m() {
  font-weight: $fw-bold;
  font-size: $fs-heading-m;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@mixin heading-l() {
  font-weight: $fw-bold;
  font-size: $fs-heading-l;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

@mixin button-yellow() {
  background-color: $yellow;
  box-shadow: inset 0px -8px 0px 0px #cc8b13;

  &:hover {
    background-color: $yellow-hover;
  }
}

@mixin button-yellow($shadow-height: -8px) {
  background-color: $yellow;
  box-shadow: inset 0px $shadow-height 0px 0px #cc8b13;
  border: none;

  &:hover {
    background-color: $yellow-hover;
  }
}

@mixin button-green($shadow-height: -8px) {
  background-color: $green;
  box-shadow: inset 0px $shadow-height 0px 0px #118c87;
  border: none;

  &:hover {
    background-color: $green-hover;
  }
}

@mixin button-silver($shadow-height: -8px) {
  background-color: $silver;
  box-shadow: inset 0px $shadow-height 0px 0px #6B8997;
  border: none;

  &:hover {
    background-color: $silver-hover;
  }
}
