// Color palette
$green: #31c3bd;
$green-hover: #65e9e4;
$orange: #f2b137;
$orange-hover: #ffc860;
$gray: #a8bfc9;
$gray-hover: #dbe8ed;
$navy-dark: #1a2a33;
$navy-light: #1f3641;

// typography
$sans-serif: "Outfit", sans-serif;
$heading-l: 40px;
$heading-m: 24px;
$heading-s: 20px;
$heading-xs: 16px;

