// Color palette
$green: #31c3bd;
$green-hover: #65e9e4;
$orange: #f2b137;
$orange-hover: #ffc860;
$gray: #a8bfc9;
$gray-hover: #dbe8ed;
$navy-dark: #1a2a33;
$navy-light: #1f3641;
$navy-shadow: #10212a;

// typography
$sans-serif: "Outfit", sans-serif;
$fs-body: 14px;
$fs-heading-xs: 16px;
$fs-heading-s: 20px;
$fs-heading-m: 24px;
$fs-heading-l: 40px;

// font-weight
$fw-medium: 500;
$fw-bold: 700;
