@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "./_variables.scss";
@import "./_mixins.scss";

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*:focus-visible {
  outline: none;
}

.user-is-tabbing *:focus-visible {
  outline: 4px solid #ff21c0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

body {
}

button {
  cursor: pointer;
}

dialog[open] {
  max-width: 100%;
  margin: revert;
  padding: revert;
}

::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#root {
  background-color: $navy-dark;
  font-family: $sans-serif;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
}

.container {
  min-width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (width <= 480px) {
  .container {
    min-width: 328px;
  }
}
