@use "../styles/variables" as *;
@use "../styles/mixins";

.menu {
  text-align: center;
  text-transform: uppercase;

  .logo {
    margin-left: auto;
    margin-right: auto;
  }

  &__player-selection {
    margin: 40px auto;
    background-color: $navy-light;
    border-radius: 15px;
    color: $silver;
    min-height: 205px;
    box-shadow: inset 0px -8px 0px 0px $navy-shadow;
    padding: 24px 24px 30px 24px;
    line-height: 1;

    h1 {
      @include mixins.heading-xs();
    }

    p {
      @include mixins.body();
      opacity: 50%;
    }

    &__button-container {
      min-height: 72px;
      background-color: $navy-dark;
      border-radius: 10px;
      max-width: 412px;
      margin: 24px auto 17px;
      padding: 9px 8px;

      button {
        border-radius: 10px;
        height: 54px;
        background: $navy-dark;
        border: none;
        min-width: 198px;
        border: none;

        svg {
          margin-left: auto;
          margin-right: auto;

          path {
            fill: $silver;
          }
        }

        &:hover {
          background-color: $navy-light;
        }

        &.selected {
          background-color: $silver;

          svg {
            path {
              fill: $navy-dark;
            }
          }

          &:hover {
            background-color: $silver-hover;
          }
        }
      }
    }

    &__choice-button {
    }
  }

  &__button-container {
    button {
      @include mixins.heading-s();
      width: 100%;
      min-height: 67px;
      border-radius: 15px;
      border: none;
      padding-bottom: 8px;

      &:hover {
        margin-top: 4px;
        min-height: 63px;
      }

      &.menu__button--single-player {
        @include mixins.button-yellow();
        margin-bottom: 20px;

        &:hover {
          box-shadow: inset 0px -4px 0px 0px #cc8b13;
        }
      }

      &.menu__button--two-player {
        @include mixins.button-green();

        &:hover {
          box-shadow: inset 0px -4px 0px 0px #118c87;
        }
      }
    }
  }
}

@media (width <= 480px) {
  .menu {
    &__player-selection {
      padding: 24px 24px 32px 24px;
      margin: 32px auto;

      &__button-container {
        max-width: 279px;

        button {
          min-width: 131px;
        }
      }
    }

    &__button-container {
      button {
        @include mixins.heading-xs();
        min-height: 56px;

        &:hover {
          min-height: 52px;
        }

        &.menu__button--single-player {
          margin-bottom: 16px;
        }
      }
    }
  }
}
