@import "../styles/variables";
@import "../styles/mixins";

.modal {
  width: 100%;
  background-color: $navy-light;
  text-align: center;
  border: none;
  color: $silver;
  min-height: 228px;
  text-transform: uppercase;

  h2 {
    @include heading-m();
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      display: inline-block;
      margin-right: 8px;
    }
  }

  p {
    @include body();
  }

  &__button-container {
    margin-top: 24px;
    button {
      text-transform: uppercase;
      padding: 15px 16px 17px;
      border-radius: 10px;

      &:nth-of-type(2) {
        margin-left: 16px;
      }
      @include heading-xs();
      &.modal__cancel-button,
      &.modal__quit-button {
        @include button-silver(-4px);
      }
      &.modal__restart-button,
      &.modal__next-round-button {
        @include button-yellow(-4px);
      }
    }
  }

  &--reset {
    padding: 61px 10px !important;
  }

  &--game-won {
    padding: 40px 40px 48px !important;
    h2 {
      margin-top: 16px;
    }
  }

  &--tie {
    padding: 61px 40px 61px !important;
  }
}
