@use "../styles/variables" as *;
@use "../styles/mixins";

.modal {
  width: 100%;
  background-color: $navy-light;
  text-align: center;
  border: none;
  color: $silver;
  min-height: 266px;
  text-transform: uppercase;

  h2 {
    @include mixins.heading-l();
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      display: inline-block;
      margin-right: 24px;
    }
  }

  p {
    @include mixins.heading-xs();
  }

  &__button-container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 16px;
    button {
      text-transform: uppercase;
      padding: 15px 17px 17px;
      border-radius: 10px;

      @include mixins.heading-xs();
      &.modal__cancel-button,
      &.modal__quit-button {
        @include mixins.button-silver(-4px);

        &:hover {
          box-shadow: inset 0px -2px 0px 0px #6b8997;
          padding: 14px 17px 16px;
          margin-top: 2px;
        }
      }
      &.modal__restart-button,
      &.modal__next-round-button {
        @include mixins.button-yellow(-4px);

        &:hover {
          box-shadow: inset 0px -2px 0px 0px #cc8b13;
          padding: 14px 17px 16px;
          margin-top: 2px;
        }
      }
    }
  }

  &--reset {
    padding: 67px 10px 66px !important;
  }

  &--game-won {
    padding: 45px 0 !important;
    h2 {
      margin-top: 16px;
    }
  }

  &--tie {
    padding: 61px 10px !important;
  }
}

@media (width <= 500px) {
  .modal {
    min-height: 228px;

    h2 {
      @include mixins.heading-m();

      svg {
        margin-right: 8px;
        width: 29px;
        height: 29px;
      }
    }

    p {
      @include mixins.body();
    }

    &__button-container {
      margin-top: 24px;
    }

    &--reset {
      padding: 61px 10px !important;
    }

    &--game-won {
      padding: 40px 10px 48px !important;
      h2 {
        margin-top: 16px;
      }
    }
  }
}
